.certificates
	padding: 20px 0 45px 0
	.block-title
		font-size: 30px
		margin-bottom: 30px
	.inner
		position: relative
		+flex(row, null, null, wrap)
	.text
		background: $gray2
		padding: 50px 30px
		border-radius: 4px
		max-width: 550px
		width: 100%
	.slider
		max-width: 620px
		width: 100%
	.slide
		&__img
			display: block
	.arrow
		bottom: -35px
		&-prev
			right: 35px
		&-next
			right: 0