.mini-banner
	background: $yellow-gradient
	padding: 55px 0
	.container
		position: relative
	.circles
		position: absolute
		z-index: 1
		right: 0
		bottom: 0
		transform: translate(60%, 0)
	.percent
		position: absolute
		top: 50%
		left: 0
		transform: translate(-20%, -50%)
	.inner
		position: relative
		z-index: 2
		max-width: 790px
		width: 100%
		margin: 0 0 0 auto
	&__title
		text-transform: uppercase
		font: 800 50px 'Exo', sans-serif
		span
			font-size: 36px
	.btn-white
		position: absolute
		right: 0
		bottom: 0
		transform: translate(0, 20%)


