.includes {
  padding: 40px 0; }
  @media only screen and (max-width: 1200px) {
    .includes {
      padding: 30px 0; } }
  .includes .block-title {
    text-align: center; }
  .includes .inner {
    background: #F5F3F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 4px;
    padding: 10px; }
  .includes-left {
    width: 33%;
    padding: 0 0 0 40px; }
    @media only screen and (max-width: 1200px) {
      .includes-left {
        width: 40%;
        padding: 0 0 0 20px; } }
    @media only screen and (max-width: 1000px) {
      .includes-left {
        width: 100%;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .includes-right {
    width: 67%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 4px;
    background: white;
    -webkit-box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
    padding: 40px; }
    @media only screen and (max-width: 1200px) {
      .includes-right {
        width: 60%;
        padding: 50px 25px; } }
    @media only screen and (max-width: 1000px) {
      .includes-right {
        width: 100%;
        padding: 10px; } }
  .includes__img {
    display: block;
    max-width: 590px;
    width: 100%; }
    @media only screen and (max-width: 1200px) {
      .includes__img {
        max-width: 100%; } }
  .includes .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .includes .item:not(:last-child) {
      margin: 0 0 8px 0; }
      @media only screen and (max-width: 1000px) {
        .includes .item:not(:last-child) {
          margin: 1%; } }
    @media only screen and (max-width: 1000px) {
      .includes .item {
        width: 31.3%;
        margin: 1%; } }
    @media only screen and (max-width: 800px) {
      .includes .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media only screen and (max-width: 370px) {
      .includes .item {
        width: 48%; } }
    .includes .item-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(-50.87%, #FFDF00), color-stop(169.13%, #FF8E00));
      background: linear-gradient(180deg, #FFDF00 -50.87%, #FF8E00 169.13%);
      margin: 0 10px 0 0; }
      @media only screen and (max-width: 1000px) {
        .includes .item-icon {
          margin: 0 0 10px 0; } }
    .includes .item__text {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.4; }
      @media only screen and (max-width: 1000px) {
        .includes .item__text {
          font-size: 15px; } }
      @media only screen and (max-width: 1000px) {
        .includes .item__text {
          text-align: center;
          line-height: 1.2; } }
      @media only screen and (max-width: 575px) {
        .includes .item__text {
          font-size: 14px; } }

.repairs-basic-types {
  padding: 80px 0;
  margin: 40px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-50.87%, #FFDF00), color-stop(169.13%, #FF8E00));
  background: linear-gradient(180deg, #FFDF00 -50.87%, #FF8E00 169.13%);
  position: relative; }
  @media only screen and (max-width: 1200px) {
    .repairs-basic-types {
      padding: 40px 0; } }
  .repairs-basic-types .circle1 {
    position: absolute;
    bottom: 0;
    left: 3%; }
    @media only screen and (max-width: 1200px) {
      .repairs-basic-types .circle1 {
        display: none; } }
  .repairs-basic-types .circle2 {
    position: absolute;
    right: 5%;
    top: 0; }
    @media only screen and (max-width: 575px) {
      .repairs-basic-types .circle2 {
        display: none; } }
  .repairs-basic-types .circle3 {
    position: absolute;
    right: 0;
    bottom: 0; }
    @media only screen and (max-width: 575px) {
      .repairs-basic-types .circle3 {
        display: none; } }
  .repairs-basic-types .block-title {
    text-align: center;
    margin: 0 0 15px 0;
    position: relative;
    z-index: 2; }
  .repairs-basic-types .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc( 100% + 30px);
    margin: 0 0 0 -15px;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 1200px) {
      .repairs-basic-types .inner {
        width: 100%;
        margin: 0; } }
  .repairs-basic-types .item {
    max-width: 370px;
    width: 100%;
    margin: 15px;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    @media only screen and (max-width: 1200px) {
      .repairs-basic-types .item {
        max-width: 48%;
        margin: 1%; } }
    @media only screen and (max-width: 575px) {
      .repairs-basic-types .item {
        max-width: 100%; } }
    .repairs-basic-types .item:hover {
      -webkit-transform: scaleY(1.05);
      transform: scaleY(1.05); }
      .repairs-basic-types .item:hover .item__title {
        background: #333333;
        color: white; }
    .repairs-basic-types .item__title {
      background: #F5F3F2;
      padding: 18px;
      font-family: 'Exo', sans-serif;
      text-align: center;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      @media only screen and (max-width: 800px) {
        .repairs-basic-types .item__title {
          font-size: 16px;
          padding: 10px; } }
    .repairs-basic-types .item__text {
      padding: 25px 30px;
      font-size: 16px;
      margin: 0 0 auto 0; }
      @media only screen and (max-width: 800px) {
        .repairs-basic-types .item__text {
          font-size: 14px;
          padding: 20px 10px; } }
    .repairs-basic-types .item__img {
      display: block;
      width: 100%;
      height: auto; }

.works-types {
  padding: 40px 0; }
  @media only screen and (max-width: 1200px) {
    .works-types {
      padding: 30px 0; } }
  .works-types .block-title {
    text-align: center;
    margin: 0 0 15px 0; }
  .works-types .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc( 100% + 30px);
    margin: 0 0 0 -15px; }
    @media only screen and (max-width: 1200px) {
      .works-types .inner {
        width: 100%;
        margin: 0; } }
  .works-types .item {
    margin: 15px;
    background: white;
    -webkit-box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
    max-width: 270px;
    width: 100%;
    overflow: hidden;
    border-radius: 4px; }
    @media only screen and (max-width: 1200px) {
      .works-types .item {
        max-width: 31.3%;
        margin: 1%; } }
    @media only screen and (max-width: 700px) {
      .works-types .item {
        max-width: 48%; } }
    .works-types .item__img {
      display: block;
      width: 100%; }
    .works-types .item__text {
      padding: 25px 15px; }
      @media only screen and (max-width: 1200px) {
        .works-types .item__text {
          padding: 15px 10px; } }
      @media only screen and (max-width: 700px) {
        .works-types .item__text {
          font-size: 13px; } }

.service-works {
  padding: 45px 0; }
  @media only screen and (max-width: 1200px) {
    .service-works {
      padding: 30px 0; } }
  .service-works .block-title {
    text-align: center;
    margin: 0 0 15px 0; }
  .service-works .inner {
    width: calc( 100% + 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 0 -7.5px; }
    @media only screen and (max-width: 1200px) {
      .service-works .inner {
        width: 100%;
        margin: 0; } }
  .service-works .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: white;
    border-radius: 4px;
    max-width: 378px;
    width: 100%;
    margin: 15px 7.5px;
    -webkit-box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1);
    box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.1); }
    @media only screen and (max-width: 1200px) {
      .service-works .item {
        max-width: 100%;
        width: 48%;
        margin: 1%; } }
    @media only screen and (max-width: 700px) {
      .service-works .item {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
    .service-works .item__img {
      display: block;
      width: 50%; }
      @media only screen and (max-width: 700px) {
        .service-works .item__img {
          width: 100%; } }
    .service-works .item-inner {
      width: 50%;
      padding: 12px; }
      @media only screen and (max-width: 1200px) {
        .service-works .item-inner {
          padding: 8px; } }
      @media only screen and (max-width: 700px) {
        .service-works .item-inner {
          width: 100%; } }
    .service-works .item__title {
      font-family: 'Exo', sans-serif;
      font-size: 16px;
      line-height: 1;
      font-weight: 700;
      margin: 0 0 10px 0; }
      @media only screen and (max-width: 575px) {
        .service-works .item__title {
          font-size: 14px; } }
    .service-works .item__text {
      font-size: 14px;
      line-height: 1.2; }
      @media only screen and (max-width: 575px) {
        .service-works .item__text {
          font-size: 12px; } }

.countdown-block {
  padding: 80px 0;
  margin: 40px 0;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-50.87%, #FFDF00), color-stop(169.13%, #FF8E00));
  background: linear-gradient(180deg, #FFDF00 -50.87%, #FF8E00 169.13%); }
  @media only screen and (max-width: 1200px) {
    .countdown-block {
      padding: 40px 0;
      margin: 40px 0; } }
  .countdown-block .circle1 {
    position: absolute;
    left: 6%;
    top: 0; }
    @media only screen and (max-width: 700px) {
      .countdown-block .circle1 {
        display: none; } }
  .countdown-block .circle2 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 50%;
    -webkit-transform: translate(15%, -45%);
    transform: translate(15%, -45%); }
    @media only screen and (max-width: 1200px) {
      .countdown-block .circle2 {
        right: 50%;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%); } }
    @media only screen and (max-width: 700px) {
      .countdown-block .circle2 {
        display: none; } }
  .countdown-block .circle3 {
    position: absolute;
    left: 0;
    bottom: -80px; }
    @media only screen and (max-width: 1200px) {
      .countdown-block .circle3 {
        display: none; } }
  .countdown-block__arrow {
    position: absolute;
    left: 0;
    bottom: 20%;
    -webkit-transform: translate(-110%, 0);
    transform: translate(-110%, 0); }
    @media only screen and (max-width: 1200px) {
      .countdown-block__arrow {
        display: none; } }
  .countdown-block .block-title {
    margin: 0 0 15px 0; }
    @media only screen and (max-width: 1200px) {
      .countdown-block .block-title {
        text-align: center; } }
  .countdown-block .container {
    position: relative; }
  .countdown-block .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 0 0 35px 0; }
  .countdown-block-left {
    max-width: 570px;
    width: 100%; }
    @media only screen and (max-width: 1200px) {
      .countdown-block-left {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin: 0 0 20px 0; } }
  .countdown-block-right {
    max-width: 520px;
    width: 100%;
    position: relative; }
    @media only screen and (max-width: 1200px) {
      .countdown-block-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 100%; } }
  .countdown-block .prices {
    max-width: 480px;
    width: 100%;
    margin: 0 0 20px 0; }
    @media only screen and (max-width: 400px) {
      .countdown-block .prices {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 5px; } }
    .countdown-block .prices li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 0 6px 0; }
      @media only screen and (max-width: 400px) {
        .countdown-block .prices li {
          width: 50%; } }
    .countdown-block .prices__text {
      margin: 0 auto 0 0; }
      @media only screen and (max-width: 575px) {
        .countdown-block .prices__text {
          font-size: 14px; } }
      @media only screen and (max-width: 400px) {
        .countdown-block .prices__text {
          width: 100%; } }
    .countdown-block .prices__old {
      text-decoration: line-through;
      font-size: 14px; }
      @media only screen and (max-width: 575px) {
        .countdown-block .prices__old {
          font-size: 12px; } }
      @media only screen and (max-width: 400px) {
        .countdown-block .prices__old {
          width: 100%;
          margin: 5px 0; } }
    .countdown-block .prices__curr {
      min-width: 100px;
      font-size: 14px;
      padding: 4px;
      background: white;
      margin: 0 0 0 10px;
      text-align: right; }
      @media only screen and (max-width: 575px) {
        .countdown-block .prices__curr {
          font-size: 12px; } }
      @media only screen and (max-width: 400px) {
        .countdown-block .prices__curr {
          text-align: center;
          margin: 0 auto; } }
      .countdown-block .prices__curr b {
        font-size: 18px;
        font-family: 'Exo', sans-serif;
        font-weight: 700; }
        @media only screen and (max-width: 575px) {
          .countdown-block .prices__curr b {
            font-size: 15px; } }
  .countdown-block .form-item {
    margin: 0 0 10px 0; }
  .countdown-block .form__input {
    margin: 0 15px 0 0; }
    @media only screen and (max-width: 575px) {
      .countdown-block .form__input {
        margin: 0 0 10px 0;
        width: 100%;
        text-align: center; } }
  .countdown-block .form__btn {
    min-width: 255px; }
    @media only screen and (max-width: 575px) {
      .countdown-block .form__btn {
        width: 100%; } }
  @media only screen and (max-width: 575px) {
    .countdown-block .form__text {
      width: 100%; } }
  .countdown-block .list {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media only screen and (max-width: 1200px) {
      .countdown-block .list {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center; } }
    .countdown-block .list-item {
      width: 50%; }
      @media only screen and (max-width: 1200px) {
        .countdown-block .list-item {
          margin: 0 2%;
          max-width: 30%; } }
      @media only screen and (max-width: 800px) {
        .countdown-block .list-item {
          max-width: 46%; } }
      @media only screen and (max-width: 575px) {
        .countdown-block .list-item {
          width: 48%; } }
      .countdown-block .list-item__title {
        font: 800 18px 'Exo', sans-serif; }
        @media only screen and (max-width: 1200px) {
          .countdown-block .list-item__title {
            font-size: 16px; } }
        @media only screen and (max-width: 575px) {
          .countdown-block .list-item__title {
            font-size: 15px; } }
        .countdown-block .list-item__title span {
          font-size: 72px; }
          @media only screen and (max-width: 1200px) {
            .countdown-block .list-item__title span {
              font-size: 50px; } }
          @media only screen and (max-width: 575px) {
            .countdown-block .list-item__title span {
              font-size: 36px; } }
      .countdown-block .list-item__text {
        margin: 10px 0 0 0;
        font-weight: 500; }
        @media only screen and (max-width: 575px) {
          .countdown-block .list-item__text {
            font-size: 14px; } }
  .countdown-block__img {
    display: block;
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 1200px) {
      .countdown-block__img {
        width: 50%; } }
    @media only screen and (max-width: 700px) {
      .countdown-block__img {
        width: 70%; } }
  .countdown-block .action {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 3; }
  .countdown-block .counter {
    max-width: 370px;
    width: 100%;
    padding: 24px 24px 40px 24px;
    border-radius: 4px;
    background: white;
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0; }
    @media only screen and (max-width: 1200px) {
      .countdown-block .counter {
        left: auto;
        right: auto; } }
    @media only screen and (max-width: 575px) {
      .countdown-block .counter {
        max-width: 100%;
        padding: 10px 10px 30px 10px; } }
    @media only screen and (max-width: 400px) {
      .countdown-block .counter {
        padding: 10px; } }
    .countdown-block .counter__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2; }
      @media only screen and (max-width: 575px) {
        .countdown-block .counter__title {
          font-size: 15px; } }
    .countdown-block .counter__text {
      margin: 6px 0 10px;
      font-size: 14px; }
      @media only screen and (max-width: 575px) {
        .countdown-block .counter__text {
          font-size: 13px; } }
  .countdown-block .flipper {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .countdown-block .flipper-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .countdown-block .flipper-group .flipper-delimiter {
      display: none; }
  .countdown-block .flipper-delimiter {
    opacity: 0.3;
    color: #333333;
    font-size: 50px;
    line-height: 70px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    float: left; }
    @media only screen and (max-width: 400px) {
      .countdown-block .flipper-delimiter {
        line-height: 50px; } }
  .countdown-block .flipper-digit {
    height: 70px;
    margin: 0 2px; }
    @media only screen and (max-width: 400px) {
      .countdown-block .flipper-digit {
        height: 50px; } }
    .countdown-block .flipper-digit::after {
      display: none; }
  .countdown-block .flipper-group label {
    color: #333333;
    opacity: .7;
    font-size: 14px; }
  .countdown-block .digit-next,
  .countdown-block .digit-top,
  .countdown-block .digit-top2,
  .countdown-block .digit-face,
  .countdown-block .digit-bottom {
    height: 70px;
    color: white;
    background: #333333;
    font-weight: 800;
    letter-spacing: 0.1em;
    font-size: 36px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    line-height: 1;
    padding: 0 .1em; }
    @media only screen and (max-width: 400px) {
      .countdown-block .digit-next,
      .countdown-block .digit-top,
      .countdown-block .digit-top2,
      .countdown-block .digit-face,
      .countdown-block .digit-bottom {
        font-size: 26px;
        height: 50px; } }
    .countdown-block .digit-next.r,
    .countdown-block .digit-top.r,
    .countdown-block .digit-top2.r,
    .countdown-block .digit-face.r,
    .countdown-block .digit-bottom.r {
      display: none;
      padding: 0; }

/*# sourceMappingURL=repairs-balconies.css.map */
