.fixed-links.enter
	a.fixed-links-link.anchor(href="#")
		img.fixed-links-link__icon(src=img+"icons/hot-sale.svg", alt="")
		.fixed-links-link__text акции
	a.fixed-links-link.anchor(href="#w-calc")
		img.fixed-links-link__icon(src=img+"icons/calculator.svg", alt="")
		.fixed-links-link__text калькулятор окон
	a.fixed-links-link.anchor(href="#window-banner")
		img.fixed-links-link__icon(src=img+"icons/tape-measure.svg", alt="")
		.fixed-links-link__text заказать <br> замер
	a.fixed-links-link.anchor(href="#header")
		img.fixed-links-link__icon(src=img+"icons/up.svg", alt="")
		.fixed-links-link__text наверх
