section.about
	.line.type1
		.container
			.text-container
				h2 почему 80% клиентов сделали <br> свой выбор в нашу пользу
				p Окна Рехау производятся из высокопрочного профиля, который отличается:
				ul
					li высокими теплоизоляционными свойствами;
					li взломабезопасностью;
					li незначительной толщиной;
					li воздухонепроницаемостью;
					li прочностью - его форма не меняется  с годами;
					li экологичностью и безопасностью - он не горит и не выделяет токсичных веществ.
				p Одним из важнейших преимуществ можно считать возможность ламинировать поверхность окна под любой тип древесины или предпочтительный цвет. Покрытие получается оригинальным, не выцветает и не желтеет со временем.
				p У нас Вы сможете недорого заказать профили разной формы и цвета, чтобы фасад дома смотрелся целостным и гармоничным. 
				p Наши специалисты готовы в кратчайшие сроки изготовить окна, с их последующей установкой нашей бригадой или без установки.
			img.img(src=img+"about/img1.jpg", alt="")
	.line.type2
		.container
			img.img(src=img+"about/img2.jpg", alt="")
			.text-container
				h3 <span>собственное Производство</span> <br> ПВХ-окон в Москве
				p Статус <strong>официального партнера REHAU</strong> позволяет нам давать официальную <strong>гарантию на изделия и установку</strong>. Наши производственные объекты занимают 9600 квадратных метров. В производственном процессе задействовано минимальное количество людей. Качество контролируется на каждом этапе.
				p Производство оснащено оборудованием SCHIRMER и ROTOX. На полностью автоматизированном оборудовании мы изготавлием <strong>изделия с геометрической точностью</strong>. У компании есть свои цеха ламинации, покраски, производства стандартных, нестандартных конструкций. Предприятие может собирать до 300 единиц в день – потому мы можем работать с оптовиками. Среди клиентов – крупные компании-застройщики.
