section.clients-choose
	.container
		.block-title Ознакомьтесь с оконными системами, <br> которые выбирают наши клиенты
		.wrapper
			.inner
				.clients-choose__title Теплопакет сохраняет тепло внутри помещения, не позволяет ему выходить через стекло
				.item
					.item-icon
						img.item__icon(src=img+"clients-choose/icon1.svg", alt="")
					.item__text уменьшает вероятность образования конденсата и изморози на стеклопакете;
				.item
					.item-icon
						img.item__icon(src=img+"clients-choose/icon2.svg", alt="")
					.item__text устраняет искусственный сквозняк возникающий из-за разницы температуры стеклопакета и помещения;
				.item
					.item-icon
						img.item__icon(src=img+"clients-choose/icon3.svg", alt="")
					.item__text cнижает затраты на отопление помещения.

