section.color-solutions
	.container
		.block-title ЛЮБЫЕ ЦВЕТОВЫЕ РЕШЕНИЯ
		.inner
			.color-solutions-left
				.window
					.window__frame
					.window__handle
			.color-solutions-right
				.color-solutions__title Выберите опции для окон
				.sliders
					.sliders__title Варианты ламинации
					.sliders__title Цвет ручек
			.color-solutions-row
				a.btn-yellow(href="#") заказать окно
				.color-solutions__text Цвета на экране могут отличаться от реальных. Выбрать цвета из полного ассортимента вы можете бесплатно вызвав менеджера на дом или посетив наш офис продаж