section.contact
	.container
		.inner
			.block-label Выезд и доставка по всей Московской области
			.block-title Контактная информация
			.block
				.block__title Адрес
				.block__text г. Москва ул. Большая Почтовая 55/59, Этаж 7, офис 703
			.block
				.block__title Производство
				.block__text г. Ивантеевка, Санаторный Проезд 2, строение 2
			.block
				.block__title Дилерский отдел
				.block__text 
					a(href="mailto:zakaz@vrehau.ru") zakaz@vrehau.ru,
					a(href="tel:+784957998001") тел. 8 (495) 799 80 01, Юлия
			.block
				.block__title Телефоны
				ul.tels
					li
						a(href="tel:+84957964080") 8 (495) 796-40-80
					li
						a(href="tel:89037964080") 8 (903) 796-40-80
			.block
				.block__title Время работы
				.block__text ежедневно с 9:00-22:00
			.block
				.block__title Email
				.block__text
					a(href="mailto:mail@vrehau.ru") mail@vrehau.ru
		#map