header.header
	.header-top
		.container
			a.logo(href="index.html")
				.logo__title Оконный рай 
					span в москве
				.logo__text Дочернее предприятие ОкноБер
			ul.top-nav
				li
					a(href="#") Акции
				li
					a(href="#") Калькулятор
				li
					a(href="#") Контакты
			a.price-link(href="http://", target="_blank", rel="noopener noreferrer")
				img(src=img+"icons/book.svg", alt="")
				span Скачать <br> прайс-лист
			a.measure-link(href="http://", target="_blank", rel="noopener noreferrer") 
				img(src=img+"icons/tape-measure.svg", alt="")
				span заказать <br> бесплатный <br> замер
			.block
				.block__title C 09:00 по 22:00 без выходных
				ul.tels
					li
						a(href="tel:+74951280377") +7 (495) 128-03-77
				a.callback-link(href="#") Заказать бесплатный звонок
	.header-bottom
		.container
			.menu
				li
					a(href="#") главная
				li
					a(href="#") О компании
				li
					a(href="#") Окна
				li
					a(href="#") Двери
				li
					a(href="#") Балконы
				li
					a(href="#") Цены
			a.calc-link.btn-yellow(href="#") рассчитать окно

