header.header#header
	.header-top
		.container
			a.logo(href="index.html")
				.logo__title Оконный рай 
					span в москве
				.logo__text Дочернее предприятие ОкноБер
			ul.top-nav
				li
					a(href="#") Акции
				li
					a(href="#") Калькулятор
				li
					a(href="#") Контакты
			a.price-link(href="#" download)
				img(src=img+"icons/book.svg", alt="")
				span Скачать <br> прайс-лист
			a.measure-link(href="http://", target="_blank", rel="noopener noreferrer") 
				img(src=img+"icons/tape-measure.svg", alt="")
				span заказать <br> бесплатный <br> замер
			.block
				.block__title C 09:00 по 22:00 без выходных
				ul.tels
					li
						a(href="tel:+74951280377") +7 (495) 128-03-77
				a.callback-link(href="#") Заказать бесплатный звонок
	.header-bottom
		.container
			nav.main-nav
				input#main-menu-state(type="checkbox")
				label.main-menu-btn(for="main-menu-state")
					span.main-menu-btn-icon
				ul#main-menu.sm.sm-clean
					li
						a(href="#") О компании
						ul
							li
								a(href="#") Отзывы
							li
								a(href="#") Статьи
							li
								a(href="#") Сотрудничество
							li
								a(href="#") Акции
							li
								a(href="#") Калькулятор
					li
						a(href="#") Окна
						ul
							li
								a(href="#") Пластиковые окна
							li
								a(href="#") Окна Rehau
							li
								a(href="#") Алюминиевые окна
							li
								a(href="#") Остекление квартир
							li
								a(href="#") Остекление домов и коттеджей
							li
								a(href="#") Остекление веранд и террас
					li
						a(href="#") Двери
						ul
							li
								a(href="#") Пластиковые двери
							li
								a(href="#") Алюминиевые двери
							li
								a(href="#") Раздвижные двери (порталы)
					li
						a(href="#") Балконы
						ul
							li
								a(href="#") Остекление балконов
							li
								a(href="#") Холодное остекление
							li
								a(href="#") Теплое остекление
							li
								a(href="#") Ремонт балконов
							li
								a(href="#") Отделка балконов
					li
						a(href="#") Цены
						ul
							li
								a(href="#") Скачать прайс-лист
					li
						a(href="#") Контакты
				a.calc-link.btn-yellow(href="#") рассчитать окно

