section.mini-banner
	.container
		img.percent(src=img+"mini-banner/percent.png", alt="")
		img.circles(src=img+"mini-banner/circles.png", alt="")
		.inner
			.mini-banner__title окна сейчас - деньги потом! <br> <span>первый взнос всего 10%</span> 
			a.btn-white(href="#") узнать подробности
