section.prices
	.container
		.block-title Почему мы можем дать стоимость <br> дешевле, чем у 98% конкурентов
		.inner
			.inner-left
				.inner__title Держим цены <br> 2019 года, а также:
				.items
					.item
						.item-icon
							img.item__img(src=img+"prices/discount.svg", alt="")
						.item-inner
							.item__text <b>Закупка дешевле,</b> <br> за счет большого объема <br> производства
					.item
						.item-icon
							img.item__img(src=img+"prices/time-management.svg", alt="")
						.item-inner
							.item__text <b>Экономия времени <br> сотрудников </b> благодаря <br> автоматической линии
					.item
						.item-icon
							img.item__img(src=img+"prices/money.svg", alt="")
						.item-inner
							.item__text <b>Небольшие затраты на <br> маркетинг,</b> рекламу и <br> аренду офисов
				a.btn-dark(href="#") отправить заявку
			.inner-right
				.table
					.table-column
						.table-td
							.table__text
						.table-td
							.table__text
						.table-td
							.table__text
						.table-td
							.table__text
						.table-td
							.table__text
						.table-td
							.table__text