section.q-banner
	img.circle(src=img+"q-banner/circles.png", alt="")
	.container
		img.window(src=img+"q-banner/window.png", alt="")
		img.girl(src=img+"q-banner/girl.png", alt="")
		.inner
			.block-title Остались вопросы? <br> мы с радостью вам поможем
			.block-text Перезвоним и ответим на все вопросы. Наш специалист позвонит вам <br> в течение 10 минут и подберет лучшее решение.
			form.form(action="#" method="POST")
				input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
				button.form__btn.btn-dark(type="submit") отправить заявку
				label.checkbox(for="q-banner-checkbox")
					input.checkbox__input(type="checkbox", name="q-banner-checkbox" id="q-banner-checkbox" checked)
					.checkbox__text Я ознакомлен(а) и согласен(а) с 
						a(href="http://", target="_blank", rel="noopener noreferrer") правилами обработками моих персональных данных

