section.qa
	.container
		.block-title На ваши вопросы отвечает руководитель <br> отдела производства
		.inner.tabs
			ul
				li
					a(href="#tab1") Я хочу заказать у вас пластиковое окно, сколько это будет стоить?
				li
					a(href="#tab2") Сколько времени уходит на монтаж-демонтаж окна?
				li
					a(href="#tab3") Возможно ли поменять окно зимой?
				li
					a(href="#tab4") Зачем для замеров вызывать вашего мастера, у него особая линейка?
				li
					a(href="#tab5") Где можно вживую посмотреть профильные системы и стеклопакеты?
				li
					a(href="#tab6") Где купить хорошие пластиковые окна в Москве?
			.tab#tab1
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура на улице выше -15 , это вполне возможно. Оконные проемы остаются полностью открытыми минут 20, поэтому квартира не успеет сильно охладиться.
			.tab#tab2
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура на улице выше -15 , это вполне возможно. Оконные проемы остаются
			.tab#tab3
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура
			.tab#tab4
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура на улице выше -15 , это вполне возможно. Оконные проемы остаются полностью открытыми минут 20, поэтому квартира не успеет сильно охладиться.
			.tab#tab5
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура на улице выше -15 , это вполне возможно. Оконные проемы остаются
			.tab#tab6
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если
			img.img(src=img+"qa/img.jpg", alt="")
			img.man(src=img+"qa/man.png", alt="")

