section.qa
	.container
		.block-title На ваши вопросы отвечает руководитель <br> отдела производства
		.inner.tabs
			ul
				li
					a.anchor(href="#qa-tab1") Я хочу заказать у вас пластиковое окно, сколько это будет стоить?
				li
					a.anchor(href="#qa-tab2") Сколько времени уходит на монтаж-демонтаж окна?
				li
					a.anchor(href="#qa-tab3") Возможно ли поменять окно зимой?
				li
					a.anchor(href="#qa-tab4") Зачем для замеров вызывать вашего мастера, у него особая линейка?
				li
					a.anchor(href="#qa-tab5") Где можно вживую посмотреть профильные системы и стеклопакеты?
				li
					a.anchor(href="#qa-tab6") Где купить хорошие пластиковые окна в Москве?
			.tab#qa-tab1
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура на улице выше -15 , это вполне возможно. Оконные проемы остаются полностью открытыми минут 20, поэтому квартира не успеет сильно охладиться.
			.tab#qa-tab2
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура на улице выше -15 , это вполне возможно. Оконные проемы остаются
			.tab#qa-tab3
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура
			.tab#qa-tab4
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура на улице выше -15 , это вполне возможно. Оконные проемы остаются полностью открытыми минут 20, поэтому квартира не успеет сильно охладиться.
			.tab#qa-tab5
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если температура на улице выше -15 , это вполне возможно. Оконные проемы остаются
			.tab#qa-tab6
				.tab__title Возможно ли поменять окно зимой?
				.tab__text Если
			img.img(src=img+"qa/img.jpg", alt="")
			img.man(src=img+"qa/man.png", alt="")

