script(src="js/jquery/dist/jquery.min.js")
script(src="libs/smartmenus/jquery.smartmenus.min.js")
script(src="libs/inputmask/dist/min/jquery.inputmask.bundle.min.js")
script(src="libs/jquery-ui-1.12.1/jquery-ui.min.js")
script(src="libs/jquery-ui-touch-punch-master/jquery.ui.touch-punch.min.js")
script(src="libs/flipper/jquery.flipper-responsive.js")
script(src="libs/slick-carousel/slick/slick.min.js")
script(src="libs/jquery-nice-select-master/js/jquery.nice-select.min.js")
script(src="js/common.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgqz4HeLO_AGHaQrJ3LkI-svcBqnpqL-4" defer)
script(src="js/map.js" defer)