section.wood-glazing
	.container
		.block-title ВОЗМОЖНО ОСТЕКЛЕНИЕ ДЕРЕВЯННЫМИ ОКНАМИ
		.inner
			form(action="#").item.item-form
				img.circle(src=img+"doors-types/circle.png", alt="")
				.item-form__title Трудно выбрать?
				.item-form__text Отправьте запрос <br> на подбор деревянных <br> окон
				.form-item
					input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
				.form-action
					button.form__btn.btn-dark(type="submit") перезвоните мне сейчас
				.form-item
					.form__text Нажимая на кнопку, вы даете согласие на
						a(href="http://", target="_blank", rel="noopener noreferrer") обработку своих персональных данных.
			.item
				img.item__img(src=img+"wood-glazing/img1.jpg", alt="")
				.item-inner
					.item__title Окно класса "Эконом"
					.item-price
						.item-price__text Цена от
						.item-price__curr 3 300 ₽<span>/кв.м</span>
					ul.item-list
						li Высокое качетсво
						li Привлекательная цена
					a.item__link.btn-yellow(href="#") Заказать
			.item
				img.item__img(src=img+"wood-glazing/img2.jpg", alt="")
				.item-inner
					.item__title Окно для бани 600х600 мм
					.item-price
						.item-price__text Цена от
						.item-price__curr 23 300 ₽<span>/шт</span>
					ul.item-list
						li Натуральная липа
						li Безопасность для здоровья при нагреве
						li Легко открывается / закрывается. Гарантировано!
						li Закаленные стекла. Защита от растрескивания
					a.item__link.btn-yellow(href="#") Заказать
			.item
				img.item__img(src=img+"wood-glazing/img3.jpg", alt="")
				.item__title Входные двери
				.item-inner
					.item-price
						.item-price__text Цена от
						.item-price__curr 23 500 ₽<span>/кв.м</span>
					ul.item-list
						li Экономия на отоплении
						li Немецкие эко краски и комплектующие
						li Разработаем индивидуальный дизайн
					a.item__link.btn-yellow(href="#") Заказать

