- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			include blocks/prices.pug
			include blocks/popular.pug
			include blocks/additions.pug
			include blocks/catalog-banner.pug
			include blocks/about.pug
			include blocks/certificates.pug
			include blocks/quality.pug
			include blocks/window-banner.pug
			include blocks/reviews.pug
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			include blocks/mini-banner.pug
			include blocks/qa.pug
			include blocks/q-banner.pug
			include blocks/contact.pug

		include blocks/footer.pug
		include blocks/scripts.pug