- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			include blocks/_consult.pug
			include blocks/_fixed-links.pug
			

			include blocks/mainblock.pug
			include blocks/quiz.pug
			include blocks/qa_type2.pug
			include blocks/prices-block.pug
			include blocks/popular.pug
			include blocks/additions.pug
			include blocks/catalog-banner.pug
			include blocks/about.pug
			include blocks/certificates.pug
			include blocks/quality.pug
			include blocks/window-banner.pug
			include blocks/reviews.pug
			include blocks/window-calc.pug
			include blocks/mini-banner.pug
			include blocks/qa.pug
			include blocks/q-banner.pug
			include blocks/contact.pug

		include blocks/footer.pug
		include blocks/scripts.pug